<html>

<head>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#username").hide();
            $('#login-submit').click(function (e) {
                if ($(this).attr('value') === 'Register') {
                    $.post("/users/signup", {
                        name: $("#username").val(),
                        email: $("#useremail").val(),
                        password: $("#password").val()
                    }, function (data) {
                        if (data.error) {
                            alert(data.message);
                        } else {
                            $("#username").hide();
                            $("#login-submit").prop('value', 'Log in');
                        }
                    });
                } else {
                    $.post("/users/login", {
                        email: $("#useremail").val(),
                        password: $("#password").val()
                    }, function (data) {
                        if (!data.error) {
                            window.location.href = "/home";
                        } else {
                            alert(data.message);
                        }
                    });
                }
            });
            $("#reg").click(function (event) {
                $("#username").show('slow');
                $("#login-submit").prop('value', 'Register');
                event.preventDefault();
            });
        });
    </script>
    <style>
        .button1
        {
            color: black; 
        }
        a:link, a:visited {
            background-color: none;
            color: black;
        }
    </style>
</head>

<body>
    
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p><b>Login and Signup System</b></p>
            </a>
        </div>
        <div class="container">
            <p class="navbar-text navbar-right"><a href="" id="#"><b> Sign in</b></a></p>
        </div>
    </nav>
    <div class="form-group" style="margin-top: 100px; width : 400px; margin-left : 50px;">
        <input type="text" id="username" placeholder="Name" class="form-control"><br>
        <input type="text" id="useremail" placeholder="Email" class="form-control"><br>
        <input type="password" id="password" placeholder="Password" class="form-control"><br>
       <!--   <input type="button" id="login-submit" value="Log In" class="btn btn-primary">&nbsp;<a href="" id="reg">Sign up here </a> -->
        <button type="button1" class="btn btn-primary btn-block mb-4 button1"><b>Log in</b></button>&nbsp;
        <button type="button" class="btn btn-primary btn-block mb-4"><a href="" id="reg" ><b> Sign up here </b></a></button>
    </div>
</body>

</html>